.messageWrapper,
.content {
    position: relative;
    width: 100%;
    min-height: 255px;
    margin: 2.5rem auto 0 auto;
}

.messageWrapper {
    min-height: 0;

    code {
        width: 100%;
        display: block;
        margin: 2rem 0 0 0;
        padding: 1rem;
        border-radius: var(--border-radius);
        background-color: var(--color-4-light);
        font-family: monospace;
        font-weight: 600;
        color: var(--color-4);
    }
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2.5rem;
    padding: 1.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);

    div:first-child {
        width: 3rem;
    }

    .selected,
    .description {
        flex: 1;

        h6 {
            transition: color 0.2s;
        }

        p {
            font-size: 1.4rem;
        }
    }

    .selected {
        h6 {
            color: var(--color-3);
        }
    }

    .price {
        width: 5.5rem;
        padding: 0.5rem;
        border-radius: 4px;
        background-color: var(--color-3-light);
        text-align: center;
        font-weight: 600;
        color: var(--color-3);
    }

    &:first-of-type {
        margin-top: 2rem;
    }
}

.paymentDetails {
    transition: opacity 0.4s;
    opacity: 0;

    * {
        background-color: var(--color-2) !important;
    }
}

.selectedPlan {
    position: relative;
    margin: 2rem 0 -2rem 0;
    font-weight: 500;
    z-index: 9;
}

.spinnerWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-2);
    z-index: 10;
}

.notice {
    margin-top: 5rem;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 4rem;
    background-color: var(--color-2);

    button:last-of-type {
        margin-left: 1rem;
    }
}