.back {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 0 2rem -0.4rem;
    transition: color 0.2s;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color-2-dark);
    cursor: pointer;

    &:hover {
        color: var(--color-1);
    }
}
