.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    padding: 0 2rem;

    div {
        width: 100%;
        max-width: var(--max-width);
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        animation: fadeIn 1.2s forwards;
    }

    span {
        font-size: 3rem;
        font-weight: 600;
        color: var(--color-3);
    }
}

.box {
    width: 100%;
    max-width: 40rem;
    margin: 10rem auto 0 auto;
    animation: slideIn 1s forwards;

    input {
        margin: 0 0 2rem 0;

        &:first-of-type {
            margin: 2rem 0;
        }
    }

    button {
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        border-radius: var(--border-radius);
        background-color: var(--color-3);
        font-size: 2rem;
        color: var(--color-2);

        span {
            margin-left: 1rem;
        }
    }
}

.message {
    margin-top: 2rem;
    padding: 0.5rem 0;
    border-radius: var(--border-radius);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.error {
    @extend .message;
    background-color: var(--color-4-light);
    color: var(--color-4);
}

.sessionExpired {
    @extend .message;
    background-color: var(--color-5-light);
    color: var(--color-5);
}

.boxExit {
    animation: slideOut 1s forwards;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    color: var(--color-2-dark);
    font-size: 1.4rem;
    cursor: pointer;

    span {
        margin-left: 0.5rem;
    }

    &:last-of-type {
        margin-top: 0.5rem;
    }

    &:hover {
        color: var(--color-1);
    }
}

.passwordNotice {
    width: 100%;
    display: block;
    margin-top: -1rem;
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-4);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(4rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOut {
    to {
        opacity: 0;
        transform: translateY(4rem);
    }
}