@import "stylesheets/animations";

.navExit {
    animation: slideOut 0.5s forwards;
}

.box {
    width: 100%;
    max-width: 40rem;
    margin: 10rem auto 0 auto;
    animation: slideIn 1s forwards;

    input {
        margin: 0 0 2rem 0;

        &:first-of-type {
            margin: 2rem 0;
        }
    }

    button {
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        border-radius: var(--border-radius);
        background-color: var(--color-3);
        font-size: 2rem;
        color: var(--color-2);

        span {
            margin-left: 1rem;
        }
    }
}

.message {
    margin-top: 2rem;
    padding: 0.5rem 0;
    border-radius: var(--border-radius);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.error {
    @extend .message;
    background-color: var(--color-4-light);
    color: var(--color-4);
}

.sessionExpired {
    @extend .message;
    background-color: var(--color-5-light);
    color: var(--color-5);
}

.boxExit {
    animation: slideOut 1s forwards;
}

.passwordNotice {
    width: 100%;
    display: block;
    margin-top: -1rem;
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-4);
}