.content {
    width: 100%;
    background-color: var(--color-2);

    main {
        animation: appear 0.5s forwards;
    }
}

.spinner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}