.content {
    width: 100%;
    background-color: var(--color-2);

    main {
        animation: slideIn 1s forwards;
    }
}

.spinner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(4rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}