.avatar {
    width: 4rem;
    height: 4rem;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--color-2);
}

.one {
    @extend .avatar;
    background-color: var(--color-5);
}

.two {
    @extend .avatar;
    background-color: var(--color-3);
}

.three {
    @extend .avatar;
    background-color: var(--color-4);
}