.backdrop {
    position: fixed;
    top: 0;
    left: 9rem;
    right: 0;
    width: calc(100% - 9rem);
    height: 100vh;
    padding: 2rem;
    transition: background-color 0.4s;
    animation: fadein 2s forwards;
    overflow: scroll;
    z-index: 99;
}

.modal {
    width: 100%;
    max-width: 70rem;
    margin: 5rem auto;
    padding: 2.5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-2-darker);
    background-color: var(--color-2);
    animation: enter 1s;
}

.small {
    @extend .modal;
    max-width: 50rem;
}

.disappear {
    animation: exit 1s forwards;
}

.fadeout {
    animation: unset;
    background-color: rgba(0, 0, 0, 0);
}

@keyframes fadein {
    to {
        backdrop-filter: blur(2px);
        background-color: rgba(0, 0, 0, 0.2);
    }
}

@keyframes enter {
    from {
        transform: translateY(60rem) rotateX(30deg) scale(0);
        transform-origin: 50% 100%;
        opacity: 0;
    }
    to {
        transform: translateY(0) rotateX(0) scale(1);
        transform-origin: 50% -140rem;
        opacity: 1;
    }
}

@keyframes exit {
    from {
        transform: translateY(0) rotateX(0) scale(1);
        transform-origin: 50% -140rem;
        opacity: 1;
    }
    to {
        transform: translateY(60rem) rotateX(30deg) scale(0);
        transform-origin: 50% 100%;
        opacity: 1;
    }
}