.sidebar {
    position: relative;
    width: 9rem;
    min-height: 100%;
    flex-shrink: 0;
    padding: 0 2rem;
    background-color: var(--color-1);
    color: var(--color-2-darker);
    z-index: 10;
}

.content {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    width: 100%;
    height: 8rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-2);
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    color: var(--color-2-dark);

    li {
        margin-bottom: 4rem;
        transition: color 0.2s;
        cursor: pointer;

        &:hover {
            color: var(--color-2);
        }
    }
}

.active {
    color: var(--color-2);
}