.button {
    min-width: 14rem;
    height: 4.5rem;
    padding: 0 2rem;
    border-radius: var(--border-radius);
    background-color: var(--color-3);
    transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;
    color: var(--color-2);
    outline: none;

    &:focus {
        box-shadow: 0 0 0 4px var(--color-3-lighter);
    }

    &:disabled {
        background-color: var(--color-2-darker);
        transition: none;
        color: var(--color-2-dark);
        cursor: default;
    }
}

.light {
    @extend .button;
    box-shadow: 0 0 0 1px var(--color-3);
    background-color: var(--color-2);
    color: var(--color-3);

    &:hover {
        background-color: var(--color-3);
        color: var(--color-2);
    }
}