.button {
    min-width: 14rem;
    height: 4.5rem;
    padding: 0 2rem;
    border-radius: var(--border-radius);
    background-color: var(--color-3);
    transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;
    color: var(--color-2);
    outline: none;

    &:focus {
        box-shadow: 0 0 0 4px var(--color-3-light);
    }
}

.smaller {
    @extend .button;
    min-width: 12rem;
    height: 4rem;
    padding: 0 1.5rem;
}

.light {
    background-color: var(--color-2);
    font-weight: 500;
    color: var(--color-3);

    &:hover {
        background-color: var(--color-3);
        color: var(--color-2);
    }
}

.wideButton {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 0 1rem;
    border-radius: var(--border-radius);
    background-color: var(--color-3);
    transition: background-color 0.2s, color 0.2s;
    font-size: 2rem;
    color: var(--color-2);

    span {
        margin-left: 1rem;
    }
}

.button:disabled,
.wideButton:disabled {
    background-color: var(--color-2-darker);
    transition: none;
    color: var(--color-2-dark);
    cursor: default;
}

.action {
    height: 2.8rem;
    line-height: 1.4rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: 1px solid var(--color-2-dark);
    background-color: var(--color-2);
    transition: color 0.2s;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-2-dark);
    outline: none;

    span {
        margin-left: 0.8rem;
    }

    &:hover {
        border: 1px solid var(--color-1);
        color: var(--color-1);
    }
}