.row {
    margin-bottom: 2.5rem;

    input {
        margin: 0.7rem 0;
    }

    p {
        font-size: 1.4rem;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

.flexWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h6 {
        margin-bottom: 0.2rem;
    }

    p {
        margin-right: 1rem;
        font-size: unset;
    }
}