@import "stylesheets/animations";

.content {
    width: 100%;
    max-width: 40rem;
    margin: 15rem auto 0 auto;
    animation: slideIn 1s;

    h4,
    input {
        margin-bottom: 2rem;
    }
}

.success {
    width: 100%;
    margin: 1.5rem 0 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    background-color: var(--color-5-light);
    text-align: center;
    color: var(--color-5);
}