.chart {
    position: relative;
    width: 100%;
    height: 40rem;
    margin-bottom: 3rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    //background-color: var(--color-1);
}